In [1]:
# Tuple
# Tuple is unchangeable
# Tuple must be ordered
# tuple is denoted with ()

In [2]:
numbers = (14,15,65,60,23,25,85,60,45,48,47,60)

In [3]:
print(type(numbers))

<class 'tuple'>

In [4]:
print(len(numbers))

12

In [5]:
print(numbers[5])

25

In [6]:
print(numbers[-7])

25

In [8]:
print(numbers[2:7])

(65, 60, 23, 25, 85)

In [9]:
print(100 in numbers)

False

In [10]:
print(numbers.count(60))

3

In [11]:
print(numbers.index(85))

6

In [17]:
shopA = ['Apple','Bucket','Strawberry','Lemon','Banana']

In [18]:
shopA.append('Pear')
print(shopA)

['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana', 'Pear']

In [19]:
shopA.insert(2, 'Pen')
print(shopA)

['Apple', 'Bucket', 'Pen', 'Strawberry', 'Lemon', 'Banana', 'Pear']

In [20]:
shopB = ['Banana','Pear','Orange']
shopA.extend(shopB)
print(shopA)

['Apple', 'Bucket', 'Pen', 'Strawberry', 'Lemon', 'Banana', 'Pear', 'Banana', 'Pear', 'Orange']

In [21]:
shopA.pop(3)
print(shopA)

['Apple', 'Bucket', 'Pen', 'Lemon', 'Banana', 'Pear', 'Banana', 'Pear', 'Orange']

In [22]:
shopA.remove('Banana')
print(shopA)

['Apple', 'Bucket', 'Pen', 'Lemon', 'Pear', 'Banana', 'Pear', 'Orange']

In [23]:
shopA.sort()
print(shopA)

['Apple', 'Banana', 'Bucket', 'Lemon', 'Orange', 'Pear', 'Pear', 'Pen']

In [24]:
shopA.reverse()
print(shopA)

['Pen', 'Pear', 'Pear', 'Orange', 'Lemon', 'Bucket', 'Banana', 'Apple']

In [25]:
shopC = shopA.copy()
print(shopC)

['Pen', 'Pear', 'Pear', 'Orange', 'Lemon', 'Bucket', 'Banana', 'Apple']

In [26]:
shopC.clear()
print(shopC)

[]

In [27]:
del(shopC)
print(shopC)

NameError: name 'shopC' is not defined

In [28]:
records = {
    'Name':'Fatima',
    'Age':45,
    'Gender':'Female',
    'Height': 1.56,
    'Weight':60.5
}
print(records['Height'])

1.56

In [29]:
records['Address'] = 'No 25 Highway Street'
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.56, 'Weight': 60.5, 'Address': 'No 25 Highway Street'}

In [30]:
records['Height'] = 1.65
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.65, 'Weight': 60.5, 'Address': 'No 25 Highway Street'}

In [31]:
newval = {'Height':1.66}
records.update(newval)
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.66, 'Weight': 60.5, 'Address': 'No 25 Highway Street'}

In [32]:
records.popitem()
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.66, 'Weight': 60.5}

In [33]:
records.pop('Age')
print(records)

{'Name': 'Fatima', 'Gender': 'Female', 'Height': 1.66, 'Weight': 60.5}

In [35]:
print(records.keys())

dict_keys(['Name', 'Gender', 'Height', 'Weight'])

In [36]:
print(records.values())

dict_values(['Fatima', 'Female', 1.66, 60.5])

In [37]:
print(records.items())

dict_items([('Name', 'Fatima'), ('Gender', 'Female'), ('Height', 1.66), ('Weight', 60.5)])

In [38]:
records = {
    'Name':['Ade','Bisi','James'],
    
}
print(records['Name'][1])

Bisi